[Unit]
Description=install default flatpaks
BindsTo=gnome-session.target
After=gnome-session.target network-online.target
ConditionPathExists=!/var/lib/default-flatpaks/done

[Service]
Type=oneshot
ExecStartPre=/usr/bin/nm-online -q
ExecStart=/usr/bin/default-flatpaks
Restart=no

[Install]
WantedBy=gnome-session.target

