[Unit]
Description=install default flatpaks
BindsTo=gnome-session.target
After=flatpak-add-flathub-repo.service network-online.target gnome-session.target
ConditionPathExists=!/var/lib/default-flatpaks/initialized

[Service]
Type=oneshot
ExecStart=/usr/bin/default-flatpaks
Restart=no

[Install]
WantedBy=gnome-session.target
