[Unit]
Description=add flathub repo
After=network-online.target nss-lookup.target systemd-resolved.service
Wants=network-online.target systemd-resolved.service
ConditionPathExists=!/var/lib/default-flatpaks/initialized

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/nm-online -q --timeout=2073600
ExecStart=flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo

[Install]
WantedBy=multi-user.target
