[Unit]
Description=add flathub repo
After=network-online.target
ConditionPathExists=!/var/lib/default-flatpaks/initialized

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo

[Install]
WantedBy=multi-user.target
